<%= form_for [topic, post, comment], remote: true do |f| %>

<div class="control-group">
    <div class="controls">
      <%= f.text_area :body, rows: 8 %>
    </div>
</div>

<div class="control-group">
   <div class="controls">
      <%= f.submit "Submit Here", class: 'btn' %>
   </div>
</div>
<% end %>